.box11{
    width: 60%;
    background-color: #f1f2f6;
    height: auto;
    display: block;
    margin: 0px auto 40px auto;
    padding: 25px 0px;
    border-radius: 4px;
}
.gridTitulo10{
    background-color: #ACEFA1;
    font-size: 20px;
    width: calc(100% -15px);
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.grid2-11 {
    background-color: #F4FFF2;
    width: 100%;
    display: grid;
    font-size: 14px;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 28px 28px;
} 
.grid3-11{
    background-color: #F4FFF2;
    width: 100%;
    display: grid;
    font-size: 14px;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 28px 28px 28px;
}
.grid4-11 {
    background-color: #F4FFF2;
    width: 100%;
    display: grid;
    font-size: 14px;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 28px 28px 28px 28px;
}
.grid5-11 {
    background-color: #F4FFF2;
    width: 100%;
    display: grid;
    font-size: 14px;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 28px 28px 28px 28px 28px;
}
.grid6-11 {
    background-color: #F4FFF2;
    width: 100%;
    display: grid;
    font-size: 14px;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 28px 28px 28px 28px 28px 28px;
}
.grid7-11 {
    background-color: #F4FFF2;
    width: 100%;
    display: grid;
    font-size: 14px;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 28px 28px 28px 28px 28px 28px 28px;
} 
.grid8-11 {
    background-color: #F4FFF2;
    width: 100%;
    display: grid;
    font-size: 14px;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 28px 28px 28px 28px 28px 28px 28px 28px;
} 
.grid9-11 {
    background-color: #F4FFF2;
    width: 100%;
    display: grid;
    font-size: 14px;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 28px 28px 28px 28px 28px 28px 28px 28px 28px;
}
.grid12-11 {
    background-color: #F4FFF2;
    width: 100%;
    display: grid;
    font-size: 14px;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px;
}

@media screen and (max-width: 992px){
    .box11{
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    .box11{
        width: 90%;
    }
}

@media screen and (max-width: 600px){
    .box11{
        width: 90%;
    }
    .gridTitulo10{
        font-size: 14px;
    }
    .grid2-11 {
        grid-template-columns: 1fr;
        grid-template-rows: 28px 28px 28px 28px;
    } 
    .grid3-11{
        grid-template-columns: 1fr;
        grid-template-rows: 28px 28px 28px 28px 28px 28px;
    }
    .grid4-11 {
        grid-template-columns: 1fr;
        grid-template-rows: 28px 28px 28px 28px 28px 28px 28px 28px;
    }
    .grid5-11 {
        grid-template-columns: 1fr;
        grid-template-rows: 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px;
    }
    .grid6-11 {
        grid-template-columns: 1fr;
        grid-template-rows: 28px 28px 28px 28px 28px 28px  28px 28px 28px 28px 28px 28px;
    }
    .grid7-11 {
        grid-template-columns: 1fr ;
        grid-template-rows: 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px;
    } 
    .grid8-11 {
        grid-template-columns: 1fr;
        grid-template-rows: 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px;
    } 
    .grid9-11 {
        grid-template-columns: 1fr;
        grid-template-rows: 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px;
    }
    .grid12-11 {
        grid-template-columns: 1fr;
        grid-template-rows: 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px;
    }
}