
.titulo03{
    position: absolute;
    top: 150px;
    left: 5%;
    font-size: 60px;
}
.forma03{
    background-image: url('../../assets/img/forma6.png');
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 450px;
}
.imagen03 {
    position: absolute;
    top: 110px;
    right: 5%;
    width: 38%;
    height: auto;
}
.parrafo03 {
    position: absolute;
    top: 220px;
    left: 5%;
    font-size: 15px;
    max-width: 45%;
    text-align: justify;
}
.linkPerfilInA03 {
    position: relative;
    bottom: 0px;
    left: 5px;
    font-size: 15px;
    width: 500px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: #2d3436;
}

@media screen and (max-width: 992px) {
    .titulo03{
        position: absolute;
        top: 135px;
        left: 3%;
        font-size: 50px;
    }
    .forma03{
        background-image: url('../../assets/img/forma6.png');
        background-size: 100% 100%;
        position: absolute;
        width: 100%;
        height: 400px;
    }
    .imagen03 {
        position: absolute;
        top: 120px;
        right: 3%;
        width: 38%;
        height: auto;
    }
    .parrafo03 {
        position: absolute;
        top: 190px;
        left: 3%;
        font-size: 15px;
        max-width: 55%;
        text-align: justify;
    }
}

@media screen and (max-width: 768px) {
    .titulo03{
        position: absolute;
        top: 100px;
        left: 3%;
        font-size: 45px;
    }
    .forma03{
        background-image: url('../../assets/img/forma6.png');
        background-size: 100% 100%;
        position: absolute;
        width: 100%;
        height: 350px;
    }
    .imagen03 {
        position: absolute;
        top: 120px;
        right: 3%;
        width: 38%;
        height: auto;
    }
    .parrafo03 {
        position: absolute;
        top: 150px;
        left: 3%;
        font-size: 14px;
        max-width: 55%;
        text-align: justify;
    }
}
@media screen and (max-width: 600px) {
    .titulo03{
        position: absolute;
        top: 130px;
        left: 3%;
        /* width: 40%; */
        font-size: 45px;
    }
    .forma03{
        background-image: url('../../assets/img/formaMovil2.png');
        background-size: 100% 100%;
        position: absolute;
        width: 100%;
        height: 220px;
    }
    .imagen03 {
        position: absolute;
        top: 110px;
        right: 3%;
        width: 28%;
        height: auto;
    }
    .parrafo03 {
        position: absolute;
        top: 310px;
        left: 5%;
        font-size: 15px;
        max-width: 90%;
        text-align: justify;
    }
}